.highlights_section{
    position: relative;
    top: 10em;
    /* transform: translateX(5%) */
}

.specials_container {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    align-items: center;
  }

.specials_container > h1 {
    font-size: 35px;
}

.specials_container > button {
    border: none;
    border-radius: 16px;
    background-color: #F4CE14;
    height: 40px;
    padding: 0px 35px;
    font-weight: 600;
}

.highlights_container {
    display: flex;
    /* margin-left: 280px; */
    justify-content: space-between;
    width: 60%;
    float: right;
    margin-right: 21em;

}

.highlights_card {
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px;
    gap: 0px;
    width: 350px;
}

.highlights_card > img {
    width: 350px;
    height: 280px;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 0px;
}

.card_container {
    background-color: #EDEFEE;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
    width: 350px;
}

.card_container > h3 {
    grid-column: 1; /* Starts at the first column line */
    grid-row: 1;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 15px;
}


.card_container > h4 {
    grid-column: 2; /* Starts at the second column line */
    grid-row: 1;
    margin-left: 70px;
    font-size: 14px;
    color: #EE9972;
    font-weight: 300;
}

.card_container > p {
    grid-column: 1 / span 2; /* Starts at the first column line and spans across both columns */
    grid-row: 2; 
    margin-top: 0;
    line-height: 1.5;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.card_container > button {
    grid-column: 1; /* Starts at the first column line and spans across both columns */
    grid-row: 3; 
    border: none;
    margin: 40px 0px 20px 0px;
    font-weight: 600;
}
