.nav_section {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
section > img {
    position: relative; 
    left: 150px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    margin-right: 80px;
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }